h2 {
    text-align: center;
}

.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;

}

.dropdown-toggle {
  outline: 0;
}


a.nav-link {
    color: #000000;
}

a.nav-link:hover {
    color: #ff0000
    transition: 0.3s;
}

.logo {
	background: url('../images/frog32.png');
	width: 50px;
	height: 50px;
	list-style-type: none;
}

.powered-by {
    margin-right: 650px;
}


